<div id="file-new-panel-div" class="panel">
  <form id="file-new-panel-form">
    <fieldset>
      <legend>New File</legend>
      <table>
        <tr>
          <th>Name</th>
          <td><input type="textfield" placeholder="Filename" name="Filename"/></td>
        </tr>
        <tr>
          <th>Size</th>
          <td>
            <select placeholder="Please Select...">
              <option value="A5">A5</option>
              <option value="A4">A4</option>
              <option value="A3">A3</option>
              <option value="1920x1080">1920x1080</option>
              <option value="1024x768" selected="selected">1024x768</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Width</th>
          <td><input type="textfield" value="1024"/></td>
        </tr>
        <tr>
          <th>Height</th>
          <td><input type="textfield" value="768"/></td>
        </tr>
        <tr>
          <th>DPI</th>
          <td><input type="textfield" value="72"/></td>
        </tr>
        <tr>
          <th></th>
          <td><input type="submit" value="Create"/></td>
        </tr>
      </table>
    </fieldset>
  </form>
</div>
